    <header
      class="container-lg sticky-top d-lg-flex flex-lg-column justify-content-between py-lg-5"
    >
      <div>
        <h1 class="text-1 mb-3">{{ 'title' | translate}}</h1>
        <h4 class="text-1">
          {{ 'description' | translate}}
        </h4>
        <br />
        <p class="text-2">
          <i>{{ 'quote' | translate}}</i>
        </p>
      </div>

      <!-- Navegation options -->
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-nav">
            <li
              class="nav-item d-flex align-items-center custom-nav-item"
            >
              <span class="custom-span-1">— </span>
              <span class="custom-span-2">
                <a class="nav-link text-2" href="#about">{{ 'about.description' | translate}} </a>
              </span>
            </li>
            <li
              class="nav-item d-flex align-items-center custom-nav-item"
            >
              <span class="custom-span-1">— </span>
              <span class="custom-span-2">
                <a class="nav-link text-2" href="#experience"
                  >{{ 'experience.description' | translate}}</a
                >
              </span>
            </li>
            <li
              class="nav-item d-flex align-items-center custom-nav-item"
            >
              <span class="custom-span-1">— </span>
              <span class="custom-span-2">
                <a class="nav-link text-2" href="#projects"
                  >{{ 'projects' | translate}}</a
                >
              </span>
            </li>
            <li
              class="nav-item d-flex align-items-center custom-nav-item"
            >
              <span class="custom-span-1">— </span>
              <span class="custom-span-2">
                <a class="nav-link text-2" href="#projects">{{ 'courses' | translate}}</a>
              </span>
            </li>
          </ul>
        </div>
      </nav>

      <ul class="d-flex align-content-around list-unstyled">
        <li>
          <a
            href="https://github.com/robinson-arpi"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-github custom-icon"></i>
             
          </a>
        </li>

        <li>
          <a
            href="https://linkedin.com/in/robinson-gerardo-arpi-ayala-3189522aa"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-linkedin custom-icon"></i>
          </a>
        </li>

        <li>
          <a
            href="mailto:https://robinson.arpi@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fas fa-envelope custom-icon"></i>
          </a>
        </li>
        <li>
         
            <i class="fa fa-language custom-icon" (click)="changeLanguage()"></i>
         
        </li>
      </ul>
      
    </header>
