/* src/styles/variables.css */
:root {
    --color-1: #0d152d;
    --color-2: white;
    --color-3: #a6b1c2;
    --color-4: rgba(82, 73, 209, 0.473);
    --color-5: #7e8186;
    --color-sunshine: #52cbc2;
    --color-sunshine-2: rgba(82, 203, 195, 0.308);
    --color-highlight-2: #1e294ba9;
  }
  